<%- include('../partials/header') %>

    <main class="home-page">
        <div class="home-div">
            <h1 class="heading mb-3">WriteWise</h1>
            <div class="content lead">
                <p>Welcome to the our blogs app - WriteWise! <br> Jump right in and explore some blogs of your interest. <br> And feel free to add some of your own creative blogs.
                </p>
            </div>
            <a href="/blogs" class="btn btn-md btn-tertiary font-weight-bold border-white bg-white home-btn">View Blogs</a>
        </div>
    </main>

<%- include('../partials/footer') %>